/example_spring_boot/.project
/example_spring_boot/.classpath
/example_spring_boot/.settings
/example_spring_boot/bin
/Swing-combos-municipios/.settings/org.eclipse.core.resources.prefs
/Swing-combos-municipios/*.classpath
/Swing-combos-municipios/*.project
/Swing-combos-municipios/.settings/*.prefs
/cfp-example-master/.project
/cfp-example-master
/spring-boot-thymeleaf/.classpath
/spring-boot-thymeleaf/.project
/spring-boot-thymeleaf/.settings
/test-selenium-bonita/*.log
/spring-shell/*.log
